<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list lines="full">
    <ion-item-sliding *ngFor="let item of myTasks">
      <ion-item-options side="start">
        <ion-item-option (click)="doneTask(item.id)" color="success"><ion-icon name="checkbox"></ion-icon></ion-item-option>
      </ion-item-options>
      <ion-item (click)="detailTask(item)">
        <ion-label [ngClass]="item.isDone?'isDone':''">{{item.title}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option [disabled]="item.isDone" (click)="editTask(item.id)"><ion-icon name="brush"></ion-icon></ion-item-option>
        <ion-item-option color="danger" (click)="removeTask(item.id)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-alert [isOpen]="isAlertOpen" header="Anadir Tarea" [buttons]="alertButtons" [inputs]="alertInputs"></ion-alert>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{myTasks[modelIdTask].title}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="detailTask(myTasks[modelIdTask])">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          {{myTasks[modelIdTask].description}}
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>
